.braille-cell,
.braille-cell::after {
  height: 150px;
  font-size: 75px;
  width: 55px;
  z-index: 1;
  position: relative;
  @apply text-indigo-700;
  padding: 3em 0 0 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  text-shadow: 0 0 6px rgba(255, 255, 255, 1);
  transition: opacity 0.4s ease;
}

.braille-cell::after {
  opacity: 0.2 !important;
  position: absolute;
  color: #a0a0a0;
  content: "⠿";
  top: 0;
  left: 0;
}
